#contact {
  background-color: $white-color;
  color: $dark-blue-text;
  /* clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%); */
  padding: 15rem 0 10rem 0;
  /*   margin-top: -15rem; */
  margin-bottom: -1px;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 3.5rem;
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }


    button {
      font-size: 2.4rem;
      background: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
      margin-top: 2rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }

    .formStyle {
      font-size: 2.4rem;
      padding: 0 2rem;
      margin-bottom: 1rem;
      width: inherit;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
        width: inherit;
      }
    }

    .labelStyle {
      width: 100%;
    }
  }
}