// COLORS
/* $primary-color: #7f449d;
$secondary-color: #793fc1;

$white-color: #DEC69D;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings */

// Opcion 01
$primary-color: #DEC69D;
$secondary-color: #314A05;

$white-color: #D7CFBC;

$dark-grey: #0A0707;

$dark-blue-text: #CA9A63;

// Opcion 02
/* $primary-color: #895206;
$secondary-color: #BF9A60;

$white-color: #EADBC5;

$dark-grey: #92B4B8;

$dark-blue-text: #3A2116;
 */

//Opcion 03
/* $primary-color: #220805;
$secondary-color: #3E2F26;

$white-color: #E6DDCD;

$dark-grey: #AE884E;

$dark-blue-text: #9C6D43;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem; */